@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shake {
  0% { transform: rotate(0); }
  20% { transform: rotate(-15deg); }
  40% { transform: rotate(10deg); }
  60% { transform: rotate(-10deg); }
  80% { transform: rotate(5deg); }
  100% { transform: rotate(0); }
}

.shake {
  animation: shake 0.6s ease-in-out;
}